<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de Produtos</title>
</head>

<body>
  <p align="center">
    <font size="20">Resultado da consulta</font>
    <br /><br />
    <% for (i=0; i < tabela.rowCount; i++) { %>
      <font size="15">
        <%=tabela.rows[i].codigo %>
          <%=tabela.rows[i].descricao %>
            <%=tabela.rows[i].preco %>
            <%=tabela.rows[i].qtde %>
            <button onclick="add({
              codigo: '<%=tabela.rows[i].codigo %>',
              descricao: '<%=tabela.rows[i].descricao %>',
              preco: '<%=tabela.rows[i].preco %>',
              qtde: '<%=tabela.rows[i].qtde %>'
            })">Adicionar ao carrinho</button>
      </font><br />
      <%} %>
      <br>
      <div id="carrinhoDiv"></div>
  </p>
</body>

<script>
  function add(produto) {
    console.log('Produto enviado ' + JSON.stringify(produto));
    let carrinho = JSON.parse(localStorage.getItem("carrinho"));

    if (carrinho) {
      console.log("carrinho ja existe, adicionado produto...")
      carrinho.push(produto)

      localStorage.setItem("carrinho",JSON.stringify(carrinho))

    } else {
      console.log("carrinho vazio, criando...")
      localStorage.setItem("carrinho", JSON.stringify([produto]));
    }

    renderizarCarrinho();
  }

  function renderizarCarrinho() {
    let carrinho = JSON.parse(localStorage.getItem("carrinho"));
    let carrinhoDiv = document.getElementById("carrinhoDiv");

    carrinhoDiv.innerHTML = "<h2>Seu carrinho:</h2>";

    if (carrinho && carrinho.length > 0) {
      carrinho.forEach(function (produto) {
        carrinhoDiv.innerHTML += `
          <p>
            Código: ${produto.codigo}<br>
            Descrição: ${produto.descricao}<br>
            Preço: ${produto.preco}<br>
          </p>
        `;
      });
    } else {
      console("carrinho vazio")
    }
  }

  // Chamar a função de renderização ao carregar a página
  renderizarCarrinho();
</script>

</html>